.profile__edit-avatar {
    position: absolute;
    top: 40%;
    left: 40%;
    background-image: url("../../../images/EditButton.svg");
    background-color: transparent;
    border: none;
    width: 26px;
    height: 26px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 0;
    margin: 0;
    visibility: hidden;
    z-index: 3;
}

.profile__edit-avatar:after , .profile__edit-avatar:focus {
    outline: none;
}