.element__like-btn {
    width: 22px;
    height: 19px;
    align-self: center;
    transition: opacity .1s ease;
    background-color: transparent;
    background-image: url("../../../images/like.svg");
    background-repeat: no-repeat;
    overflow: visible;
    border: none;
    cursor: pointer;
    padding: 0 0 0 0;
}


.element__like-btn:after , .element__like-btn:focus {
    outline: none;
    border: none;
}

.element__like-btn:hover {
    opacity: 0.5;
}


